@use "sass:map";
@import "./resets";
@import "./themes";

@each $theme in $themes{
    .#{$theme}_assistanceHeader{
        background-color: getValue($theme, "secondaryColor");
    }
    .#{$theme}_title{
        color:white;
        text-align: center;
    }
    .#{$theme}_stepProgressPrimaryBtn{
        text-decoration: none;
        color:white
    }
    .#{$theme}_stepProgressPrimaryBtn:hover{
        color:white
    }
    .#{$theme}_stepProgressSecondaryBtn{
        text-decoration: none;
    }
}