@use "sass:map";
@import "./resets";
@import "./themes";

@each $theme in $themes{
}

#contactUsRow{
    padding-top:2%;
    background-color: $grey;
}

#unorderList{
    list-style-type: none;
}

#firstListItem{
    margin-top: 2%;
}

.recatcha{
    margin-top: 4%;
}