@use "sass:map";
@import "./resets";
@import "./themes";

@each $theme in $themes{
    .#{$theme}_header{
        color: getValue($theme, "primaryColor");
    }
}

#navbar{
    padding: 0 15vw;
    margin-top: 2%;
    font-size: 1.02em;
    background-color: #fff;
    margin-bottom: 4%;
}

.servicesDropdown > .Dropdown-control{
    border:none;
    border-radius: none;
    color : #212529;
}

.servicesDropdown > .Dropdown-control > .Dropdown-arrow-wrapper > .Dropdown-arrow{
    border-style: none;
}

.navbarLink {
    text-decoration: none;
    color: #212529;
}

.homeTitle{
    font-weight: bold;
}
