*, html, .container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.blue_assistanceContainer {
  min-height: 15vh;
  background-color: #905337;
  margin-top: 4%;
}

.blue_title {
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
  color: white;
  text-align: center;
  font-size: 3em;
  margin-bottom: 4%;
}

.blue_groupCard {
  margin-bottom: 8%;
}

.blue_card {
  box-shadow: 0 1px 10px 0 #000;
  margin: 0 0.3%;
}
.blue_card > ._img {
  -o-object-fit: fill;
     object-fit: fill;
  max-height: 260px;
}
.blue_card > .card-body button:active {
  background-color: #86A5B8;
}
.blue_card > .card-body ._button {
  font-weight: bold;
  width: auto;
  border-color: #905337;
  background-color: #DF853A;
  margin-top: 20%;
  position: absolute;
  left: 2%;
  right: 2%;
  bottom: 2%;
}
.blue_card > ._body {
  min-height: 30vh;
}

.grey_assistanceContainer {
  min-height: 15vh;
  background-color: #D09783;
  margin-top: 4%;
}

.grey_title {
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
  color: white;
  text-align: center;
  font-size: 3em;
  margin-bottom: 4%;
}

.grey_groupCard {
  margin-bottom: 8%;
}

.grey_card {
  box-shadow: 0 1px 10px 0 #000;
  margin: 0 0.3%;
}
.grey_card > ._img {
  -o-object-fit: fill;
     object-fit: fill;
  max-height: 260px;
}
.grey_card > .card-body button:active {
  background-color: #F2786D;
}
.grey_card > .card-body ._button {
  font-weight: bold;
  width: auto;
  border-color: #D09783;
  background-color: #F66356;
  margin-top: 20%;
  position: absolute;
  left: 2%;
  right: 2%;
  bottom: 2%;
}
.grey_card > ._body {
  min-height: 30vh;
}

.red_assistanceContainer {
  min-height: 15vh;
  background-color: #664C35;
  margin-top: 4%;
}

.red_title {
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
  color: white;
  text-align: center;
  font-size: 3em;
  margin-bottom: 4%;
}

.red_groupCard {
  margin-bottom: 8%;
}

.red_card {
  box-shadow: 0 1px 10px 0 #000;
  margin: 0 0.3%;
}
.red_card > ._img {
  -o-object-fit: fill;
     object-fit: fill;
  max-height: 260px;
}
.red_card > .card-body button:active {
  background-color: #FFD3CD;
}
.red_card > .card-body ._button {
  font-weight: bold;
  width: auto;
  border-color: #664C35;
  background-color: #E3AE7A;
  margin-top: 20%;
  position: absolute;
  left: 2%;
  right: 2%;
  bottom: 2%;
}
.red_card > ._body {
  min-height: 30vh;
}

.yellow_assistanceContainer {
  min-height: 15vh;
  background-color: #919098;
  margin-top: 4%;
}

.yellow_title {
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
  color: white;
  text-align: center;
  font-size: 3em;
  margin-bottom: 4%;
}

.yellow_groupCard {
  margin-bottom: 8%;
}

.yellow_card {
  box-shadow: 0 1px 10px 0 #000;
  margin: 0 0.3%;
}
.yellow_card > ._img {
  -o-object-fit: fill;
     object-fit: fill;
  max-height: 260px;
}
.yellow_card > .card-body button:active {
  background-color: #EDDBB7;
}
.yellow_card > .card-body ._button {
  font-weight: bold;
  width: auto;
  border-color: #919098;
  background-color: #EDB978;
  margin-top: 20%;
  position: absolute;
  left: 2%;
  right: 2%;
  bottom: 2%;
}
.yellow_card > ._body {
  min-height: 30vh;
}