*, html, .container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.blue_assistanceHeader {
  background-color: #905337;
}

.blue_title {
  color: white;
  text-align: center;
}

.blue_stepProgressPrimaryBtn {
  text-decoration: none;
  color: white;
}

.blue_stepProgressPrimaryBtn:hover {
  color: white;
}

.blue_stepProgressSecondaryBtn {
  text-decoration: none;
}

.grey_assistanceHeader {
  background-color: #D09783;
}

.grey_title {
  color: white;
  text-align: center;
}

.grey_stepProgressPrimaryBtn {
  text-decoration: none;
  color: white;
}

.grey_stepProgressPrimaryBtn:hover {
  color: white;
}

.grey_stepProgressSecondaryBtn {
  text-decoration: none;
}

.red_assistanceHeader {
  background-color: #664C35;
}

.red_title {
  color: white;
  text-align: center;
}

.red_stepProgressPrimaryBtn {
  text-decoration: none;
  color: white;
}

.red_stepProgressPrimaryBtn:hover {
  color: white;
}

.red_stepProgressSecondaryBtn {
  text-decoration: none;
}

.yellow_assistanceHeader {
  background-color: #919098;
}

.yellow_title {
  color: white;
  text-align: center;
}

.yellow_stepProgressPrimaryBtn {
  text-decoration: none;
  color: white;
}

.yellow_stepProgressPrimaryBtn:hover {
  color: white;
}

.yellow_stepProgressSecondaryBtn {
  text-decoration: none;
}