*, html, .container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#contactUsRow {
  padding-top: 2%;
  background-color: #faf7f7;
}

#unorderList {
  list-style-type: none;
}

#firstListItem {
  margin-top: 2%;
}

.recatcha {
  margin-top: 4%;
}